@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.font-popp-400{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bg-color-1{
    background-color: #0B5ED7;
    color: white;
    border: solid 3px #f3f3f3;
}

.bg-color-1:hover{
    cursor: default;
    color: white;
}

.font-popp-500{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.font-inter-1{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
}

.font-inter-1sec{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.font-inter-2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.btn1{
    background-color: #009baf;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    border-radius: 6px;
    color: white;
}

.btn1:hover{
    color: #f0f0f0;
    background-color: #006e7c;
}

.text-color1{
    color: #009baf;
}

.text-color1:hover{
    color: #009baf;
}

.text-color2{
    color: #2D3748;
}

.font-popp-600{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.bg-n1{
    background-color: #0A1625;
}

.img-crop{
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.img-crop-2{
    object-fit: cover;
    width: 100%;
    height: 230px;
}

.space-neg-1{
    margin-top: -24px;
}

.ic-folder{
    width: 50px;
    content: url("./img/folder-ic.svg");
}

.input-style{
    color: #009baf;
}

.input-style:focus{
    color: #009baf;
}

.footer ul li{
    list-style: none;
    margin-left: -2rem;
}

.zindex-hundred{
    z-index: 100;
}

.slick-prev, .slick-next {
    z-index: 1;
}
  
.slick-next:before{
    /* content: '' !important; */
    content: url("./img/arrow-right-circle-fill.svg") !important;
    margin-left: -32px;
}

.slick-prev:before{
    content: url("./img/arrow-left-circle-fill.svg") !important;
    margin-right: -32px;
}